In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
geo_areas_df = pd.read_csv('../data/ECHO_data_csv/SDWA_GEOGRAPHIC_AREAS.csv', dtype=str)

In [3]:
geo_areas_df.head()

,SUBMISSIONYEARQUARTER,PWSID,GEO_ID,AREA_TYPE_CODE,TRIBAL_CODE,STATE_SERVED,ANSI_ENTITY_CODE,ZIP_CODE_SERVED,CITY_SERVED,COUNTY_SERVED,LAST_REPORTED_DATE
0,2021Q2,IL3082677,35395417,CN,NaN,NaN,197,NaN,NaN,Will,07/22/1995
1,2021Q2,IL3082685,35395418,CN,NaN,NaN,197,NaN,NaN,Will,07/22/1995
2,2021Q2,IL3082693,35395419,CN,NaN,NaN,197,NaN,NaN,Will,07/22/1995
3,2021Q2,IL3082701,35395420,CN,NaN,NaN,197,NaN,NaN,Will,07/22/1995
4,2021Q2,IL3082719,35395421,CN,NaN,NaN,197,NaN,NaN,Will,07/22/1995

In [5]:
print(f'Total number of records in Geographic area table is {geo_areas_df.shape[0]}')

Total number of records in Geographic area table is 567192

In [8]:
geo_areas_df.GEO_ID.nunique()

567192

The column GEO_ID uniquely identifies each record

In [9]:
geo_areas_df.isnull().sum()

SUBMISSIONYEARQUARTER         0
PWSID                         0
GEO_ID                        0
AREA_TYPE_CODE                0
TRIBAL_CODE              565924
STATE_SERVED             411786
ANSI_ENTITY_CODE         163851
ZIP_CODE_SERVED          560015
CITY_SERVED              411786
COUNTY_SERVED            169585
LAST_REPORTED_DATE            0
dtype: int64

In [11]:
## Seeing date formats
date_columns = ['LAST_REPORTED_DATE']
geo_areas_df[date_columns].head()

  LAST_REPORTED_DATE
0         07/22/1995
1         07/22/1995
2         07/22/1995
3         07/22/1995
4         07/22/1995

In [12]:
for datecol in date_columns:
    geo_areas_df[datecol] = pd.to_datetime(geo_areas_df[datecol], format='%m/%d/%Y')

In [13]:
geo_areas_df[date_columns].head()

  LAST_REPORTED_DATE
0         1995-07-22
1         1995-07-22
2         1995-07-22
3         1995-07-22
4         1995-07-22

In [14]:
for datacol in date_columns:
    print('Range of {} is between {} and {}'.format(datacol, geo_areas_df[datacol].min(), geo_areas_df[datacol].max()))

Range of LAST_REPORTED_DATE is between 1995-07-22 00:00:00 and 2021-07-01 00:00:00

In [15]:
len(geo_areas_df.columns)

11

In [37]:
geo_areas_df.AREA_TYPE_CODE.unique()

array(['CN', 'CT', 'ZC', 'TR', 'IR'], dtype=object)

In [21]:
geo_areas_df.TRIBAL_CODE.unique()

array([nan, '711', '475', '431', '469', '344', '430', '345', '616', '471',
       '562', '64727', '710', '199', '705', '111', '696', '114', '534',
       '180', '400', '281', '206', '204', '717', '101', '481', '595',
       '436', '713', '780', '523', '614', '001', '602', '608', '638',
       '132', '124', '140', '432', '605', '468', '862', '201', '553',
       '027', '610', '603', '383', '861', '490', '382', '380', '860',
       '863', '660', '521', '438', '102', '303', '401', '207', '601',
       '606', '282', '205', '708', '541', '472', '440', '439', '470',
       '613', '012', '007', '006', '009', '434', '482', '145', '141',
       '181', '117', '152', '105', '125', '110', '123', '687', '409',
       '651', '202', '113', '120', '719', '540', '028', '592', '121',
       '980', '182', '702', '615', '607', '714', '107', '143', '109',
       '116', '129', '103', '119', '118', '142', '139', '122', '131',
       '108', '144', '153', '106', '126', '692', '682', '823', '302',
       '720', '695', '642', '707', '563', '721', '021', '026', '587',
       '561', '579', '513', '617', '511', '577', '479', '411', '403',
       '415', '437', '433', '435', '483', '484', '480', '750', '751',
       '301', '203', '304', '342', '343', '347', '341', '346', '551',
       '672', '530', '506', '549', '515', '518', '525', '547', '624',
       '527', '582', '583', '542', '520', '593', '604', '519', '576',
       '580', '020', '033', '030', '585', '586', '589', '590', '629',
       '594', '636', '570', '512', '556', '564', '538', '522', '573',
       '539', '565', '560', '569', '578', '641', '646', '824', '921',
       '822', '830', '701', '704', '706', '709', '716', '718', '703',
       '712', '715', '812', '826', '336', '924', '906', '905', '821',
       '920', '634', '612', '681', '656', '640', '653', '648', '674',
       '645', '550', '567', '507', '637', '502', '533', '661', '650',
       '536', '546', '516', '622', '508', '517'], dtype=object)

In [22]:
geo_areas_df.STATE_SERVED.unique()

array([nan, 'MI', 'IL', 'WI', 'MD', 'ME', 'MT', 'NC', 'OH', 'AZ', 'WV',
       'NY', 'NH', 'KS', 'CT', 'MP', 'MA', 'SC', 'FL', 'NE', 'IN', 'VT',
       'NM', 'DE', 'NJ', 'WY', 'IA', 'VA', 'GA', 'ID', 'AK', 'PR', 'MO',
       'HI', 'CA', 'ND', 'AL', 'WA', 'KY', 'SD', 'MS', 'MN', 'TN', 'CO',
       'AS', 'RI', 'NV', 'VI', 'PA', 'GU', 'AR', 'UT', 'LA', 'OK', 'OR'],
      dtype=object)

In [24]:
geo_areas_df.ANSI_ENTITY_CODE.unique()

array(['197', '015', '125', '111', '107', '097', '089', '043', '091',
       '063', nan, '093', '031', '007', '033', '081', '059', '177', '095',
       '009', '073', '049', '021', '099', '201', '183', '029', '175',
       '105', '153', '057', '141', '113', '127', '161', '011', '085',
       '027', '037', '003', '103', '191', '131', '195', '051', '117',
       '181', '025', '143', '179', '147', '075', '005', '119', '133',
       '023', '039', '109', '071', '067', '077', '135', '047', '061',
       '045', '203', '149', '053', '115', '079', '001', '151', '055',
       '101', '083', '171', '041', '121', '339', '017', '157', '187',
       '145', '019', '155', '139', '069', '159', '087', '129', '137',
       '367', '013', '035', '173', '065', '209', '030', '251', '259',
       '169', '185', '163', '193', '123', '165', '477', '170', '167',
       '453', '199', '240', '213', '309', '221', '215', '439', '232',
       '237', '068', '012', '225', '467', '016', '189', '455', '299',
       '409', '497', '361', '435', '401', '241', '239', '122', '303',
       '100', '329', '004', '249', '265', '403', '020', '219', '271',
       '006', '008', '002', '363', '491', '499', '325', '050', '323',
       '014', '110', '010', '211', '305', '229', '231', '233', '235',
       '205', '207', '293', '217', '243', '245', '313', '347', '407',
       '377', '479', '086', '150', '070', '060', '510', '090', '395',
       '469', '311', '164', '291', '471', '373', '387', '473', '289',
       '285', '130', '257', '282', '290', '343', '427', '315', '261',
       '227', '371', '273', '255', '327', '423', '333', '355', '459',
       '223', '018', '036', '307', '451', '413', '287', '267', '419',
       '381', '277', '283', '297', '263', '301', '279', '281', '253',
       '317', '319', '275', '295', '345', '465', '247', '321', '269',
       '351', '463', '425', '457', '054', '397', '447', '375', '379',
       '481', '461', '483', '485', '385', '335', '337', '449', '365',
       '028', 'FIP', '489', '417', '441', '405', '429', '186', '433',
       '270', '415', '180', '188', '280', '391', '393', '369', '493',
       '475', '495', '341', '421', '349', '353', '357', '501', '359',
       '383', '389', '437', '399', '411', '503', '505', '507', '220',
       '331', '443', '445', '810', '830', '550', '650', '700', '710',
       '590', '230', '120', '800', '640', '056', '750', '515', '540',
       '580', '770', '775', '730', '595', '022', '058', '630', '680',
       '685', '431', '072', '487', '076', '046', '026', '044', '032',
       '038', '040', '064', '080'], dtype=object)

In [23]:
geo_areas_df.ZIP_CODE_SERVED.unique()

array([nan, '49321', '21795', ..., '02719', '01244', '01259'],
      dtype=object)

In [25]:
geo_areas_df.CITY_SERVED.unique()

array([nan, 'JONESVILLE', 'COMSTOCK PARK', ..., 'SURREY', 'CATHAY',
       'FESSENDEN'], dtype=object)

In [26]:
geo_areas_df.COUNTY_SERVED.unique()

array(['Will', 'Cowlitz', 'Oakland', ..., 'Fajardo Municipio',
       'Ceiba Municipio', 'Loiza Municipio'], dtype=object)

### Web Scraping Column description and data type

In [27]:
def get_html():
    URL = "https://echo.epa.gov/tools/data-downloads/sdwa-download-summary"
    r = requests.get(URL)  
    html_soup = BeautifulSoup(r.content, 'html.parser') 
    return html_soup
html_soup = get_html()

In [28]:
data_dictionary = {
    p.find_all('strong')[0].getText().replace(u'\xa0', u'') : p.getText().replace(u'\xa0', u' ')
    for p in html_soup.find_all("div", {"class": 'field-item even'})[0].find_all('p') 
    if p.find_all('strong') and len(p.find_all('strong')) == 1 and p.find_all('strong')[0].getText().replace(u'\xa0', u'') in list(geo_areas_df.columns)
}
pd.set_option('display.max_colwidth', None)
col_desc = pd.DataFrame([data_dictionary[col] for col in data_dictionary], columns=['raw_desc'])

col_desc[['COLUMN', 'DESCRIPTION']] = col_desc['raw_desc'].str.split('-', 1, expand=True)
col_desc = col_desc[['COLUMN', 'DESCRIPTION']]
col_desc

,COLUMN,DESCRIPTION
0,AREA_TYPE_CODE,Code identifying the area type where the facility is located.
1,ANSI_ENTITY_CODE,"American National Standards Institute (ANSI) code for the county, city, or legal statistical area. Taken with the ANSI state code, uniquely identifies a county (or other area) within the country. See the U.S. Census Bureau webpage Exit for more information about ANSI codes."
2,CITY_SERVED,The name of the city that the facility serves.
3,COUNTY_SERVED,The name of the county that the facility serves.
4,GEO_ID,System generated ID that uniquely identifies PWSID and Area Type record.
5,LAST_REPORTED_DATE,The last reported date for the milestone event. The date format is MM/DD/YYYY.
6,PWSID,"A unique identifying code for a public water system in SDWIS. The PWSID consists of a two-letter state or region code, followed by seven digits."
7,STATE_SERVED,The state that the facility is serving.
8,SUBMISSIONYEARQUARTER,The fiscal year and quarter when the event took place.
9,TRIBAL_CODE,EPA code which represents the Indian reservation or Alaska Remote Village being served by a Water System. A full discription of the codes can be accessed in the SDWA_REF_CODE_VALUES.csv.
10,ZIP_CODE_SERVED,The 5-digit postal zip code that the facility serves.

### Generating create SQL statement to create 'events_milestones' table to store events milestones details

In [45]:
temp_dict = {
    'SUBMISSIONYEARQUARTER': 'VARCHAR(6)',
    'PWSID': 'VARCHAR(9)',
    'GEO_ID': 'VARCHAR(8)',
    'AREA_TYPE_CODE': 'VARCHAR(10)',
    'TRIBAL_CODE': 'VARCHAR(10)',
    'STATE_SERVED': 'VARCHAR(2)',
    'ANSI_ENTITY_CODE': 'VARCHAR(3)',
    'ZIP_CODE_SERVED': 'VARCHAR(15)',
    'CITY_SERVED': 'VARCHAR(40)',
    'COUNTY_SERVED': 'VARCHAR(50)',
    'LAST_REPORTED_DATE': 'DATE'
}

def space(n):
    return ' ' * (max([len(col) for col in geo_areas_df.columns]) + 5 - n)

print('CREATE TABLE GEOGRAPHIC_AREAS (')
for col in geo_areas_df.columns:
    print(f'\t{col}{space(len(col))}{temp_dict[col]}', end='')
    if col != geo_areas_df.columns[-1]:
        print(',')
    else:
        print()
print(') ENGINE = InnoDB;')

CREATE TABLE GEOGRAPHIC_AREAS (
	SUBMISSIONYEARQUARTER     VARCHAR(6),
	PWSID                     VARCHAR(9),
	GEO_ID                    VARCHAR(8),
	AREA_TYPE_CODE            VARCHAR(10),
	TRIBAL_CODE               VARCHAR(10),
	STATE_SERVED              VARCHAR(2),
	ANSI_ENTITY_CODE          VARCHAR(3),
	ZIP_CODE_SERVED           VARCHAR(15),
	CITY_SERVED               VARCHAR(40),
	COUNTY_SERVED             VARCHAR(50),
	LAST_REPORTED_DATE        DATE
) ENGINE = InnoDB;

In [49]:
geo_areas_df.sort_values(['GEO_ID'], ascending=True).to_csv('../data/processed_data/GEOGRAPHIC_AREAS.csv', index=False) # violations.groupby(['PWSID', 'VIOLATION_ID']).size()

In [50]:
columns = geo_areas_df.columns.to_list()

date_columns = ['LAST_REPORTED_DATE']

print('''
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/GEOGRAPHIC_AREAS.csv'
INTO TABLE GEOGRAPHIC_AREAS 
FIELDS TERMINATED BY ','
ESCAPED BY ''
OPTIONALLY ENCLOSED BY '"'
LINES TERMINATED BY '\\n'
IGNORE 1 ROWS
''', end='')
print('(', end='')
for col in columns:
    print(f'@{col}', end='')
    if col != columns[-1]:
        print(',', end='')
print(')')
print('SET')
for col in columns:
    if col in date_columns:
        print(f'{col} = IF(@{col} = \'\', NULL, STR_TO_DATE(@{col}, \'%Y-%m-%d\')),')
    else:
        print(f'{col} = IF(@{col} = \'\', NULL, @{col}),')

LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/GEOGRAPHIC_AREAS.csv'
INTO TABLE GEOGRAPHIC_AREAS
FIELDS TERMINATED BY ','
ESCAPED BY ''
OPTIONALLY ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(@SUBMISSIONYEARQUARTER,@PWSID,@GEO_ID,@AREA_TYPE_CODE,@TRIBAL_CODE,@STATE_SERVED,@ANSI_ENTITY_CODE,@ZIP_CODE_SERVED,@CITY_SERVED,@COUNTY_SERVED,@LAST_REPORTED_DATE)
SET
SUBMISSIONYEARQUARTER = IF(@SUBMISSIONYEARQUARTER = '', NULL, @SUBMISSIONYEARQUARTER),
PWSID = IF(@PWSID = '', NULL, @PWSID),
GEO_ID = IF(@GEO_ID = '', NULL, @GEO_ID),
AREA_TYPE_CODE = IF(@AREA_TYPE_CODE = '', NULL, @AREA_TYPE_CODE),
TRIBAL_CODE = IF(@TRIBAL_CODE = '', NULL, @TRIBAL_CODE),
STATE_SERVED = IF(@STATE_SERVED = '', NULL, @STATE_SERVED),
ANSI_ENTITY_CODE = IF(@ANSI_ENTITY_CODE = '', NULL, @ANSI_ENTITY_CODE),
ZIP_CODE_SERVED = IF(@ZIP_CODE_SERVED = '', NULL, @ZIP_CODE_SERVED),
CITY_SERVED = IF(@CITY_SERVED = '', NULL, @CITY_SERVED),
COUNTY_SERVED = IF(@COUNTY_SERVED = '', NULL, @COUNTY_SERVED),
LAST_REPORTED_DATE = IF(@LAST_REPORTED_DATE = '', NULL, STR_TO_DATE(@LAST_REPORTED_DATE, '%Y-%m-%d')),